html {
  height: 100%;

}

body {
  height: 100%
}

@import "~antd/dist/antd.css";

#root {
  height: 100%;
}

.ant-tabs .ant-tabs-left-bar {
  position: sticky;
  top: 0;
}

.App {
  font-family: 'Inconsolata', monospace;
  display: flex;
  height: 100%;
  justify-content: center;
}

.particles {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-bar-details span {
  margin-right: 15px;
}

.span.hljs-keyword:nth-child(10) {
  display: block;
}
.hljs {
  overflow: scroll;
}

.ant-table td { white-space: nowrap; }

.nav-bar-details {
  font-family: 'Inconsolata', monospace !important;
}

.ant-layout { background: transparent }
.ant-layout-footer {
  background: rgba(230, 230, 230, 0.5);
  padding: 5px 20px;
  box-shadow: 0 0 6px 0 grey;
}

.ant-input { color: black; }

.ant-input-number-input { color: black; }

.Response > div:nth-child(2), .MemoryProfiler > div:nth-child(2){
  overflow: scroll;
}

.ant-tabs .react-monaco-editor-container {
  min-height: 700px;
}

.ant-tabs {
  height: 100%;
  overflow: scroll;
}

.ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
