.CustomCard {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px 2px #bbbbbb;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.82);
    overflow: hidden;
}

.Title {
    font-weight: bold;
}
